<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_player, class: 'form-control-label' %>
    <%= form.number_field :first_player, id: :game_first_player, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :second_player, class: 'form-control-label' %>
    <%= form.number_field :second_player, id: :game_second_player, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :created, class: 'form-control-label' %>
    <%= form.datetime_select :created, id: :game_created, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :game_status, class: 'form-control-label' %>
    <%= form.text_field :game_status, id: :game_game_status, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :game_type, class: 'form-control-label' %>
    <%= form.text_field :game_type, id: :game_game_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :first_player_piece_code, class: 'form-control-label' %>
    <%= form.text_field :first_player_piece_code, id: :game_first_player_piece_code, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
