<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="table table-striped">
  <thead class="thead thead-default">
    <tr>
      <th>First player</th>
      <th>Second player</th>
      <th>Created</th>
      <th>Game status</th>
      <th>Game type</th>
      <th>First player piece code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.first_player %></td>
        <td><%= game.second_player %></td>
        <td><%= game.created %></td>
        <td><%= game.game_status %></td>
        <td><%= game.game_type %></td>
        <td><%= game.first_player_piece_code %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path, class: 'btn btn-secondary' %>

