<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_name, class: 'form-control-label' %>
    <%= form.text_field :user_name, id: :player_user_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_hash, class: 'form-control-label' %>
    <%= form.text_field :password_hash, id: :player_password_hash, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email, class: 'form-control-label' %>
    <%= form.text_field :email, id: :player_email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
