<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @player.user_name %>
</p>

<p>
  <strong>Password hash:</strong>
  <%= @player.password_hash %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
